<span page-title>{{ 'Apply Errata to Content Hosts' | translate }}</span>

<div data-extend-template="layouts/details-nutupane.html">

  <div data-block="header">
    {{ 'Apply to Content Hosts' | translate }}
  </div>

  <div data-block="actions">
    <button class="btn btn-primary"
            ng-show="permitted('create_content_hosts')"
            ng-click="applyErrata()">
      <i class="icon-signin leading-icon"></i>
      <span translate>Apply Errata</span>
    </button>
  </div>

  <nav>
    <ul class="nav nav-tabs" ng-show=" permitted('edit_content_hosts')">
      <li ng-class="{active: isState('errata.details.content-hosts.applicable')}">
        <a ui-sref="errata.details.content-hosts.applicable">
        <span translate>
          Applicable
        </span>
        </a>
      </li>

      <li ng-class="{active: stateIncludes('errata.details.content-hosts.available')}">
        <a ui-sref="errata.details.content-hosts.available">
        <span translate>
          Available
        </span>
        </a>
      </li>
    </ul>
  </nav>

  <div data-block="table">
    <div ng-include="'content-hosts/views/content-hosts-table-full.html'" onload="contentHostTable = detailsTable"></div>
  </div>
</div>
