<span page-title>{{ 'Errata' | translate }}</span>

<div data-extend-template="layouts/nutupane.html">

  <div data-block="header">
    {{ 'Errata' | translate }}
  </div>

  <div data-block="actions"></div>

  <div data-block="filters">
    <form>
      <div>
        <label class="checkbox-inline">
          <input type="checkbox" ng-model="showApplicable" ng-change="toggleApplicable()"/>
          <span translate>Only show Errata that have one or more Applicable Content Hosts.</span>
        </label>
      </div>

      <div>
        <label class="checkbox-inline">
          <input type="checkbox" ng-model="showInstallable" ng-change="toggleInstallable()"/>
          <span translate>Only show Errata that are Installable by one ore more Content Hosts</span>
        </label>
      </div>
    </form>
  </div>

  <span class="input-group-addon" data-block="search-filter">
    <select ng-model="repository" ng-options="repository.name for (id, repository) in repositories"></select>
  </span>

</div>
