<span page-title>{{ 'Products' | translate }}</span>

<div data-extend-template="layouts/nutupane.html">

  <div data-block="header">
    {{ 'Products' | translate }}
  </div>

  <div data-block="actions">
    <li role="menuitem">
      <a ui-sref="products.new.form"
         bst-feature-flag="custom_products"
         ng-disabled="denied('create_products')">
        <i class="fa fa-plus"></i>
        <span translate>New Product</span>
      </a>
    </li>

    <li role="menuitem">
      <a ui-sref="products.bulk-actions.sync"
         ng-disabled="denied('edit_products') || denied('destroy_products')">
        <i class="fa fa-group leading-icon"></i>
        <span translate>Bulk Actions</span>
      </a>
    </li>

    <li role="menuitem">
      <a ui-sref="products.discovery.scan"
         bst-feature-flag="custom_products"
         ng-disabled="denied('edit_products')">
        <i class="fa fa-crosshairs"></i>
        <span translate>Repo Discovery</span>
      </a>
    </li>

  </div>

  <span data-block="no-rows-message" translate>
    You currently don't have any Products<span bst-feature-flag="custom_products">, you can add Products using the button on the right</span>.
  </span>

</div>
