<span page-title ng-model="product">{{ 'Details for Product:' | translate }} {{ product.name }}</span>

<div data-extend-template="layouts/panel.html">
  <div bst-alerts success-messages="successMessages" error-messages="errorMessages"></div>

  <header data-block="header">
    <h2 translate>{{ product.name }}</h2>
  </header>

  <div data-block="content">
    <nav data-block="navigation">
      <ul class="nav nav-pills">
        <li ng-class="{active: stateIncludes('product.info')}">
          <a translate
             ui-sref="product.info({productId: product.id})">
            Details
          </a>
        </li>
        <li ng-class="{active: stateIncludes('product.repositories')}">
          <a translate
             ui-sref="product.repositories.index({productId: product.id})">
            Repositories
          </a>
        </li>
        <li ng-class="{active: stateIncludes('product.tasks')}">
          <a translate
             ui-sref="product.tasks.index({productId: product.id})">
            Tasks
          </a>
        </li>
        <li ng-repeat="menuItem in menuExpander.getMenu('product')">
          <a href="{{ menuItem.url }}">
            {{ menuItem.label }}
          </a>
        </li>
      </ul>
    </nav>

    <section ui-view></section>
  </div>
</div>