<span page-title ng-model="product">{{ 'Product information for:' | translate }} {{ product.name }}</span>
<div bst-alerts success-messages="successMessages" error-messages="errorMessages"></div>

<div data-extend-template="layouts/two-column.html">
  <div data-block="left-column">
    <h4 translate>Basic Information</h4>
    <dl>
      <dt translate>Name</dt>
      <dd bst-edit-text="product.name"
          on-save="save(product)"
          readonly="product.redhat || denied('edit_products', product)">
      </dd>

      <dt translate>Label</dt>
      <dd>{{ product.label }}</dd>

      <dt translate>GPG Key</dt>
      <dd bst-edit-select="product.gpg_key.name"
          readonly="product.redhat || denied('edit_products', product)"
          selector="product.gpg_key_id"
          options="gpgKeys()"
          on-save="save(product)">
      </dd>

      <dt translate>Description</dt>
      <dd bst-edit-textarea="product.description"
          on-save="save(product)"
          readonly="product.redhat || denied('edit_products', product)">
      </dd>
    </dl>

    <div bst-modal="removeProduct(product)" model="product">
      <div data-block="modal-header" translate>Remove Product "{{ product.name }}"?</div>
      <div data-block="modal-body" translate>Are you sure you want to remove product "{{ product.name }}"?</div>
    </div>

    <span ng-switch="getReadOnlyReason(product)" bst-feature-flag="custom_products">
      <i class="fa fa-question-circle" ng-switch-when="permissions"
         tooltip="{{ 'You cannot remove this product because you do not have permission.' | translate }}"
         tooltip-animation="false"
         tooltip-append-to-body="true">
      </i>
      <i class="fa fa-question-circle" ng-switch-when="published"
         tooltip="{{ 'You cannot remove this product because it was published to a content view.' | translate }}"
         tooltip-animation="false"
         tooltip-append-to-body="true">
      </i>
      <i class="fa fa-question-circle" ng-switch-when="redhat"
         tooltip="{{ 'You cannot remove this product because it is a Red Hat product.' | translate }}"
         tooltip-animation="false"
         tooltip-append-to-body="true">
      </i>
    </span>

    <button class="btn btn-default" bst-feature-flag="custom_products"
            ng-disabled="!productDeletable(product)"
            ng-click="openModal()">
      <i class="fa fa-trash-o"></i>
      {{ "Remove Product" | translate }}
    </button>
  </div>

  <div data-block="right-column">
    <h4 translate>Sync Status</h4>
    <dl>
      <dt translate>Sync Plan</dt>
      <dd
          bst-edit-select="product.sync_plan.name"
          options="syncPlans()"
          options-format="option.id as option.name for option in options.results"
          selector="product.sync_plan_id"
          on-save="save(product)"
          deletable="product.sync_plan_id != null"
          readonly="denied('edit_products', product)"
          on-delete="product.sync_plan_id = null; save(product)">
      </dd>

      <span ng-include="'products/details/partials/sync-status.html'"></span>

      <dt translate>Last Sync</dt>
      <dd translate>
        {{ product.last_sync_words }} Ago ({{ product.sync_status.finish_time | date:'medium' }} Local Time)
      </dd>

      <dt translate>Next Sync</dt>
      <dd ng-show="product.sync_plan.next_sync" translate>
        {{ product.sync_plan.next_sync | date:'medium' }} (Server Time)
      </dd>
      <dd ng-hide="product.sync_plan.next_sync" translate>
        Synced manually, no interval set.
      </dd>

      <dt translate>Sync State</dt>
      <dd>
        <a ng-show="product.sync_status.state" ng-href="/katello/sync_management">{{ product.sync_status.state }}</a>
        <span ng-hide="product.sync_status.state" translate>No sync information available.</span>
      </dd>
    </dl>

    <button class="btn btn-default"
            ng-hide="denied('create_sync_plans')"
            ui-sref="product.info.new-sync-plan">
      <i class="fa fa-plus"></i>
      <span translate>New Sync Plan</span>
    </button>

    <button class="btn btn-default"
            ng-click="syncProduct()"
            ng-hide="denied('sync_products', product)">
      <i class="fa fa-refresh"></i>
      <span translate>Sync Now</span>
    </button>
  </div>
</div>
